@import '../variables.scss';

.login-form {
	max-width: 25rem;
	padding: 0 1.5rem;
}

.login-button {
	margin-top: 0;
}

.title {
	color: $dark-blue;
	font-family: 'Pacifico';
	margin: 0;
	font-size: 2rem;
}
