.welcome-bg {
	padding-bottom: 10rem;
	background: url('./img/blue-background.jpg');
	background-size: cover;
	color: #fff;
}

.title-block {
	margin-top: 3rem;
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	padding: 0 2rem;

	h3 {
		font-weight: 300;
	}
}

li {
	list-style: none;
}

.title-block h1 {
	font-weight: 400;
}

.headline {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
	font-weight: 700;
}

.img-text-container {
	margin: 2.5rem auto auto 0;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		max-width: 50%;
		margin: auto;
		line-height: 2rem;
	}

	img {
		width: 15rem;
		height: auto;
		margin-top: 3rem;
	}
}

.connected-outer-container {
	background: #edeff0;
	padding: 2rem 0;
	margin: 5rem 0;
}
.connected-inner-container {
	margin: auto;
	text-align: center;

	h1 {
		margin: 0;
	}

	p {
		line-height: 2rem;
	}

	img {
		margin-top: 2rem;
	}
}
