.welcome-bg {
	padding-bottom: 10rem;
	background: url('./img/blue-background.jpg');
	background-size: cover;
	color: #fff;
}

.title-block {
	margin-top: 3rem;
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	padding: 0 2rem;

	h3 {
		font-weight: 300;
	}
}

li {
	list-style: none;
}

.title-block h1 {
	font-weight: 400;
}

.headline {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
	font-weight: 700;
}

.img-text-container {
	margin: 2.5rem auto auto 0;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		max-width: 50%;
		margin: auto;
		line-height: 2rem;
	}

	img {
		width: 15rem;
		height: auto;
		margin-top: 3rem;
	}
}

.welcome-button {
	-moz-box-shadow: 1px 1px 0px 0px #1564ad;
	-webkit-box-shadow: 1px 1px 0px 0px #1564ad;
	box-shadow: 1px 1px 0px 0px #1564ad;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #fff;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 12px 44px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.welcome-button:hover {
	background-color: transparent;
}

.welcome-button:active {
	position: relative;
	top: 1px;
}

.connected-outer-container {
	background: #edeff0;
	padding: 2rem 0;
	margin: 5rem 0;
}
.connected-inner-container {
	margin: auto;
	text-align: center;

	h1 {
		margin: 0;
	}

	p {
		line-height: 2rem;
	}

	img {
		margin-top: 2rem;
		width: 15rem;
		height: auto;
	}
}

@media (max-width: 800px) {
	.welcome-bg {
		padding-bottom: 7rem;
	}
}
