.footer-container {
	background: url('./img/footer-background.jpg');
	margin-top: 3rem;
}

.footer-content {
	color: #fff;
	text-align: center;

	p {
		font-size: .9rem;
	}
}

@media (max-width: 320px) {
	.footer-container {
		p {
			font-size: .7rem;
			margin: .2;
		}
	}
}
