.navbar-container {
	max-width: 1280px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
}

.navbar-links-container {
	display: flex;
}

.navbar-link {
	text-transform: uppercase;
	a {
		text-decoration: none;
		transition: all ease-in-out .3s;
	}

	a:hover {
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
		padding: 6px 0;
	}
}

.home-link {
	text-decoration: none;
}

.navbar-logo-container {
	font-family: 'Pacifico';
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: .1rem;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

// home page navbar
.home-navbar-container {
	background: url('./img/blue-background.jpg');
	margin-bottom: 5rem;
}

.home-navbar-logo {
	margin: 0;
}

.navbar-greeting {
	color: #fff;
}

.logout-link {
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 500px) {
	.navbar {
		flex-direction: column;
	}

	.home-navbar-links-container {
		margin-bottom: .5rem;
	}
}
